@use '../../styles//mixins.scss' as *;

.forecast-hourly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__wrapper {
      display: flex;
      overflow-x: auto;
      scrollbar-width:auto; 
      width: 50%;
      margin-top: 50px;
      border-radius: 15px 15px 0 0;

      @include on-tablet {
        width: 80%;
      }
    }
    
    &__item {
        padding: 8px 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 79px;
        height: 136px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        
        &:hover {
            background-color: rgba(203, 203, 203, 0.272);
        }

        &-active {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px 14px;
            width: 79px;
        }

        &-icon {
            width: 30px;
            height: 30px;
        }

        &-rain {
            display: flex;
            align-items: center;
            font-size: 10px;
        }

        &-temp {
            display: flex ;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 16px;
            width: 48px;
        }
    }
}