@use '../../styles/mixins.scss' as *;

.hourly-forecast__info {
    width: 50%;
    // height: 400px;
    height: calc(100% + 50px);
    color: #fff;
    border-radius: 0 0 15px 15px;

    @include on-tablet {
        width: 80%;
    }

    &-additional {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 20px;
        gap: 20px;

        &__block {
            display: flex;
            flex-direction: column;
            width: 30%;
            min-height: 155px;
            border-radius: 10px;

             @include on-mobile {
                width: 45%;
            }

            &-label {
                display: flex;
                gap: 4px;
                margin: 10px 0 0 10px;
                font-size: 12px;
            }

            &-value {
                margin-left: 10px;
                font-size: 24px;
            }

            &-subtext {
              font-size: 12px;
              margin: auto 0 10px 10px;
            }
        }
    }
}
